.background_about {
    /* background-image: url(../images/background_about.jpg); */
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../images/background_about.jpg);
}

.menu {
    width: 100%;
    background-color: black;
    opacity: 80%;
    height: 30%;
    margin-top: 1%;
}

.menu ul {
    width: 100%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 2%;
    position: relative;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: xx-large;
    font-family: 'Jost', sans-serif;
}

.menu li:hover {
    background-color: gray;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    width: 25%;
    height: auto;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 0.5%;
}

.photo img {
    width: 100%;
    height: auto;
}

.text_about {
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    flex-basis: 50%;
    flex-grow: 1;
    background-color: black;
    opacity: 80%;
    width: 100%;
    height: auto;
}

.text_about h4 {
    color: white;
    padding: 1%;
}

.chronology {
    background-color: black;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 95%;
}

footer {
    display: block;
    background: #333;
    padding: 1rem;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: show 1s 1s ease-in-out both;
}
  
@-webkit-keyframes show {
    from {  opacity: 0;}
    to { opacity: 1; }
}
  
@keyframes show {
    from {  opacity: 0;}
    to { opacity: 1; }
}