.background_contacts {
    background-image: url(../images/background_contacts.jpg);
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-family: 'Jost', sans-serif;
}

.menu {
    width: 100%;
    background-color: black;
    opacity: 80%;
    height: 30%;
    margin-top: 1%;
}

ul {
    width: 100%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 2%;
    position: relative;
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: xx-large;
    font-family: 'Jost', sans-serif;
}

li:hover {
    background-color: gray;
}

.main {
    margin-block: 50%;
}

footer {
    display: block;
    background: #333;
    padding: 1rem;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: show 1s 1s ease-in-out both;
}
  
@-webkit-keyframes show {
    from {  opacity: 0;}
    to { opacity: 1; }
}
  
@keyframes show {
    from {  opacity: 0;}
    to { opacity: 1; }
}